.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;

}
.loginForm{
  display: flex;

  position: relative;
  left: 33%;
  top: 33%;
  padding-bottom: 25px;
}

.devicesForm{
  display: flex;

  position: relative;
  left: 33%;
  top: 33%;
  padding-bottom: 25px;
  padding-left: 50px;
}

.menuIcon{
  margin-right: 5px;
  color: black;
}